/* import the font from google */
@import url("https://fonts.google.com/specimen/Space+Mono");

/* root variables */
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-graylish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --font-family: "Space Mono", sans-serif;

  --error: hsl(0, 87%, 67%);

  --font-size: 24px;

  --border-radius: 15px;
  --border-radius-2: 10px;
  --border-radius-3: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set the font family */
body {
  background-color: var(--light-graylish-cyan);
  font-family: var(--font-family);
}

input {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--very-dark-cyan) !important;
}

button:hover {
  cursor: pointer;
  background-color: var(--strong-cyan) !important;
  color: var(--very-dark-cyan) !important;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}

.container .title {
  font-size: 24px;
  font-weight: lighter;
  color: var(--very-dark-cyan);
  text-align: center;
}

.container .header {
  margin: 50px;
}

.container .card {
  background-color: var(--white);
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 768px) {
  .container .card {
    flex-direction: column;
  }
}

.left-top .card .select-label {
  font-size: var(--font-size);
  color: var(--very-dark-cyan);
  font-weight: 700;
}

.left-top,
.right-bottom {
  flex: 1;
}

.left-top {
  padding: 20px;
}

.left-top .bill,
.left-top .people,
.left-top .select-tip {
  margin-bottom: 20px;
}

.left-top .bill,
.left-top .people,
.left-top .select-tip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-top .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: var(--very-light-grayish-cyan);
  border-radius: var(--border-radius-3);
  padding: 5px 10px;
  border: 2px solid transparent;
}

.left-top .input-container input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  font-size: var(--font-size);
}

.left-top .label {
  font-size: 14px;
  font-weight: 700;
  color: var(--dark-grayish-cyan);
}

.left-top .select-tip .tip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.left-top .select-tip .tip .tip-btn {
  background-color: var(--very-dark-cyan);
  color: var(--very-light-grayish-cyan);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius-3);
  cursor: pointer;
  width: 30%;
  font-size: var(--font-size);
  font-weight: 700;
}

.tip-btn.checked {
  background-color: var(--strong-cyan) !important;
  color: var(--very-dark-cyan) !important;
}

@media screen and (max-width: 768px) {
  .left-top .select-tip .tip .tip-btn {
    width: 40%;
  }
}

.left-top .select-tip .tip .tip-input {
  display: inline-block;
  width: 30%;
  padding: 5px 10px;
  height: 47px;
  text-align: center;
  outline: none;
  border: 2px solid transparent;
  border-radius: var(--border-radius-3);
  background-color: var(--very-light-grayish-cyan);
  font-size: 20px;
}

.tip-input:focus {
  border-color: var(--strong-cyan) !important;
}

@media screen and (max-width: 768px) {
  .left-top .select-tip .tip .tip-input {
    width: 40%;
  }
}

.right-bottom {
  padding: 20px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .right-bottom {
    width: 100%;
  }
}

.right-bottom .right-bottom-card {
  background-color: var(--very-dark-cyan);
  padding: 30px 20px;
  border-radius: var(--border-radius-2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.right-bottom .right-bottom-card .bottom-of-result-card button {
  width: 100%;
  background-color: var(--dark-grayish-cyan);
  color: var(--very-dark-cyan);
  padding: 10px 0;
  border: none;
  border-radius: var(--border-radius-3);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.right-bottom .top-of-result-card .tip-amount,
.right-bottom .top-of-result-card .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-of-result-card {
  color: var(--white);
}

.top-of-result-card .tip-amount {
  margin-bottom: 30px;
}

.top-of-result-card .tip-amount-title,
.top-of-result-card .total-title {
  font-size: 14px;
  font-weight: 700;
}

.top-of-result-card span {
  font-size: 12px;
  color: var(--dark-grayish-cyan);
}

.top-of-result-card .tip-amount-amount,
.top-of-result-card .total-amount {
  color: var(--strong-cyan);
  font-size: 30px;
  font-weight: 700;
}

.for-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: var(--error);
  font-size: 10px;
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--dark-grayish-cyan);
}

.attribution a {
  color: var(--very-dark-cyan);
}
